{% extends 'base.html' %}

{% block content %}
   
<h2 class="subtitle">There are {{ customers|length }} active customers</h2>
<table class="table">
    <thead>
    <tr>
    <th>Id.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Stripe Id.</th>
    <th>Delete</th>
    </tr>
    </thead>
    {% for customer in customers %}
    <tr>
        <th><a href="{% url 'payments:view_customer' customer.pk %}">{{ customer.pk }}</a></th>
        <td>{{ customer.full_name }}</td>
        <td>{{ customer.email }}</td>
        <td><tt>{{ customer.stripe_id }}</tt></td>
        <td><a href="{% url 'payments:delete_customer' pk=customer.pk %}" class="delete is-small"></a></td>
    </tr>
    {% endfor %}
    <tfooter>
    <tr>
    <th colspan="4"></th>
    <td> <a class="buton is-info" href="{% url 'payments:new_customer' %}"><i class="fas fa-plus"></i></a>
    </td>
    </tr>
    </thead>
</table>


{% endblock content %}

